<!DOCTYPE html>
<html>
<link href="bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="js/jquery-3.1.1.js"></script>
<script src="js/bootstrap.js"></script>
<style>

    #jbb {
        height: 60px;
        length: 60px;
        align: center
    }


#sf{
   width: 100%
}


</style>


<head>
    <meta charset="utf-8">
    <title>My Blog</title>
<body>
  <%= @post.title  %>
  <%= @post.body  %>
  <%= @post.id %>
  <%= @post.created_at %>
  <%= @post.updated_at %>
  <%= @comment.body %>


  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Delete', post_path(@post),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>


  <%= form_for [@post, @comment] do |f| %>


  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit %>

  <% end %>


  <% @post.comments.each do |comment| %>
  <h3><%= comment.body %></h3>
  <%= link_to 'Edit', edit_post_comment_path(@post,comment) %>
  <%= link_to 'Delete', post_comment_path(@post,comment),
                         method: :delete,
                         data: {confirm: 'Are you sure?'} %>
  <% end %>

</body>
</body>
<footer>
  <center>
<h1>
<i class="fa fa-facebook" aria-hidden="true"></i>
<i class="fa fa-twitter" aria-hidden="true"></i>
<i class="fa fa-instagram" aria-hidden="true"></i>
<i class="fa fa-medium" aria-hidden="true"></i>

</h1>
</center>
</footer>
</html>
